body {
  margin:0;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

path {
  z-index: 100000;
}

.node circle {
  fill: #d46a6a;
}

.node:hover circle {
  stroke: #000;
  stroke-width: 1.2px;
}

.active {
  stroke: black;
  stroke-width: 15px;
}

rect {
  fill: "steelblue";
  z-index: 0;
}

.layer {
  color : #00cbff;
  weight : 0.5;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
  z-index: 10001;
}

i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
  z-index: 10001;
}

h1 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 34px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  padding: 0cm 1cm 0cm 1cm;
}
h2 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  padding: 0cm 1cm 0cm 1cm;
}
h3 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 15.4px;
  padding: 0cm 0cm 0cm 0cm;
}
h4 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 0cm 1cm 0cm 0cm;
  text-align: justify;
}
p {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
  padding: 0cm 0cm 0cm 0cm;
}
